* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--cream);
  font-size: 14px;
}
:root {
  /* Primary */
  --darkCyan: hsl(158, 36%, 37%);
  --verydarkCyan: rgb(26, 64, 49);
  --cream: hsl(30, 38%, 92%);
  /* Neutral */
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
  height: 100vh;
}
.card {
  border-radius: 10px;
  box-shadow: 0 0 3px 1px rgb(0 0 0 /15%);
  display: flex;
  background-color: var(--white);
  max-width: 80%;
  min-height: 500px;
  justify-content: space-between;
}
.img-box {
  border-radius: 10px 0 0 10px;
  flex-grow: 1;
  background-image: url(./images/image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
}
.card .content-box {
  flex-basis: 50%;
  padding: 20px 30px;
  font-family: Montserrat;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  color: var(--darkGrayishBlue);
}
.card .content-box h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 100;
  font-size: 0.8em;
}
.card .content-box h2 {
  line-height: 30px;
  font-size: 1.5em; /*30px;*/
  color: var(--veryDarkBlue);
  font-family: Fraunces;
}
.card .content-box p {
  line-height: 23px;
  font-size: 0.8em;
}
.card .content-box .price-box {
  font-family: Fraunces;
}
.card .content-box .price-box .price {
  margin-right: 20px;
  color: var(--darkCyan);
  font-size: 1.7em; /*30px;*/
  font-weight: 700;
}
.card .content-box .price-box .discount {
  text-decoration: line-through;
}
.card .btn {
  border: none;
  background-color: var(--darkCyan);
  color: #fff;
  font-size: 1em; /*14px;*/
  padding: 15px;
  border-radius: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.card .btn img {
  margin: 0 10px;
}
.card .btn:hover {
  background-color: var(--verydarkCyan);
}
/* ---------------------------------------- */
/* mobile */
@media (max-width: 768px) {
  .card {
    flex-flow: column;
  }
  .card .img-box {
    background-image: url(./images/image-product-mobile.jpg);
    background-position: center;
    background-size: cover;
    flex-basis: 50%;
    border-radius: 10px 10px 0 0;
  }
  .card .content-box {
    flex-grow: 1;
  }
}
/* desktop */
@media (min-width: 1400px) {
}
