* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
:root {
  /* Primary */
  --darkCyan: hsl(158, 36%, 37%);
  --verydarkCyan: rgb(26, 64, 49);
  --cream: hsl(30, 38%, 92%);
  /* Neutral */
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
/* new */
.container {
  /* Default 1.5rem */
  padding: 0 1.5rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1370px;
  }
}
/* start card */
.card {
  border-radius: 10px;
  display: flex;
  background-color: var(--white);
  margin: 2rem auto;
  max-width: 600px;
  overflow: hidden;

  /* -0---- */
  /* transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left:50%; */
}
.card .image {
  flex-basis: 50%;
}
.card .image img {
  /* object-fit: cover; */
  width: 100%;

  height: 100%;
}
.card .image .mobi {
  display: none;
}
.card .info {
  flex-basis: 50%;
  padding: 1rem 2rem;
}
.card .info h5 {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--darkGrayishBlue);
  margin: 1rem 0;
  font-family: Montserrat;
  font-weight: 500;
}
.card .info h1 {
  font-family: Fraunces;
  margin-bottom: 1rem;
  font-weight: 700;
}
.card .info p {
  margin-bottom: 1rem;
  color: var(--darkGrayishBlue);
  font-family: Montserrat;
  line-height: 1.6;
}
.card .info .price {
  font-family: Fraunces;
  margin-bottom: 1rem;
}
.card .info .price .current-price {
  font-weight: 700;
  font-size: 2rem;
  color: var(--darkCyan);
}
.card .info .price .prev-price {
  font-size: 1rem;
  margin-left: 1rem;
  text-decoration: line-through;
}
.card .info button {
  border: none;
  border-radius: 7px;
  background-color: var(--darkCyan);
  color: var(--white);
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s background;
}
.card .info button:hover {
  background-color: var(--verydarkCyan);
}
@media (max-width: 991px) {
  .card {
    flex-direction: column;
  }
  .card .image .desk {
    display: none;
  }
  .card .image .mobi {
    display: block;
  }
}
/* end card */
